body {
  
  background-color: black;
  margin: auto;
  padding: 10;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  align-items: center;
}

  main {
      color: white;
  }


    /* Add a black background color to the top navigation */
  .topnav {
    background-color: black;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  mark.green {
      color:#04aa6d;
      background: none;
  }
  h1 {
      text-align: center;
  } 
  h2{ 
      text-align: center; 
  }
  UL{ 
      text-align: center ;
  }
  p{ 
      text-align: center ;
  }
  a{
      text-decoration: none;
      color: #f2f2f2;
  }

  div.menu a{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.6;
  }

  div.menu a:hover {
    background-color: #04aa6d;
    color: black;
  }
  p{
      text-align: center; 
  }

  table{
      text-align: center;
      justify-content: center;
      margin-left:auto;
      margin-right:auto;

  }
  div{
      tex-align: center;
      justify-content: center;
  }
  label{
      text-align: center;
      justify-content: center;
      margin-left:auto;
      margin-right:auto;
  }
  #mood label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
  img.statspage{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 500px;
    height: auto;
  }
  img.statspagebig{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 800px;
    height: auto;
  }
  p.descr{
      font-size: 9px;
      text-align: center; 
      margin: auto;
      color: darkgrey
      word-wrap: break-word;
      width: 400px
      
  }
  p.message{
      font-size: 18px;
      text-align: center; 
      margin: auto;
      
  }
  ul.descr{
      font-size: 12px;
      text-align: center; 
      margin-right: 40px;
      color: darkgrey
      word-wrap: break-word;
      width: 400px
      
  }
  h4{
      text-align: center; 
      margin-left: 100px;
      margin-right: 100px;
  }

  
  
